/* src/style.css */
footer {
    color: $white;
    text-align: center;

    nav {
        margin: 2rem 0;
        a {
            margin: 1rem;
            color: $white;
        }   
    }
    p {
        margin: 4rem 0;
    }
}
  
  