header {
  display: flex;
  justify-content: center;

  nav {
    display: inline-block; // Change this from flex to inline-block
    padding: 0rem;
    border-radius: $border-radius;
    backdrop-filter: blur(1rem);
    background: rgba($black, 0.3);

    .nav-links {
      font-weight: 900;
      display: flex;
      justify-content: space-between;

      i {
        display: none;
        @media (min-width: $breakpoint-medium) {
          display: inline-block;
        }
      }
      svg {
        margin: 0 0.4rem 0 0.5rem;
      }
    }

    a, button {
      color: $white;
      margin: 0;
      padding: 3rem 2rem;
      text-decoration: none;
      background: none;
      border: none;
      border-radius: $border-radius;

      @media (min-width: $breakpoint-small) {
        padding: 4rem 4rem;
      }
      @media (min-width: $breakpoint-medium) {
        padding: 4rem 6rem;
      }

      &.active {
        background-color: rgba($black, .5);
      }
    }
  }
}
