.qr-user {
    display: grid;
    row-gap: 5rem;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas:
        "qr-userhero"
        "qr-generator"
        "qr-search"
        "qr-codes";

      @media (min-width: $breakpoint-medium) {
        grid-template-columns: 50% 50%;
        grid-template-areas:
            "qr-generator qr-userhero"
            "qr-search qr-search"
            "qr-codes qr-codes";
  
      }

    .qr-generator {
        grid-area: qr-generator;    
        
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .qr-userhero {
        grid-area: qr-userhero;

        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;

        width: 100%;
        padding: 0 4rem;
        top: -4rem;

        h2 {
            margin: .5rem 0;
        }
        h4 {
            margin: 1rem 0;
            font-size: 2rem;
        }
    }

    .qr-search {
        grid-area: qr-search;
        display: grid;
        grid-template-columns: auto;
        grid-template-areas:
        "search"
        "select"
        "filter";
        align-items: center; 
        padding: 10rem 0 0 0;

        @media (min-width: $breakpoint-large) {
            grid-template-rows: auto;
            grid-template-areas:
            "search filter"
            "select select";
        }
        @media (min-width: $breakpoint-medium) {
            grid-template-columns: 1fr auto;
        }

        input {
            grid-area: search;
            font-weight: 900;
        }
        select {
            grid-area: select;
            width: 20rem;
            font-weight: 900;
            padding: 1rem 2rem;
            border-radius: calc($border-radius/2);
        }
        .filter {
            grid-area: filter;
            justify-self: start;
            margin: 2rem 0;
            > svg {
                margin: 1rem;
            }

            @media (min-width: $breakpoint-medium) {
                justify-self: end;
                margin: 0;
            }
        }

    }

    .qr-codes {
        grid-area: qr-codes;
        padding: 0 0 10rem 0;

        .qr-codes-grid {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            gap: 20px;

                .qr-code-wrapper {
                    display: block;
                    padding: 1rem;
                    border-radius: $border-radius;
                    background-color: $white;
                }

                .qr-code {
                    display: block;
                    padding: 1rem;
                    border-radius: $border-radius;
                    background-color: inherit; // Maintain background from parent

                    canvas {
                        width: 100% !important;
                        height: auto !important;
                        display: inline;
                        float: left;
                        margin-bottom: 20px;
                        border-radius: $border-radius;
                    }

                    h3 {
                        display: inline;
                        float: left;
                        width: 90%;
                        margin: 0 1rem;
                        padding: 1rem;
                        color: $blue;
                    }

                    a, input {
                        display: inline;
                        float: left;
                        width: 90%;
                        margin: 0 1rem;
                        padding: 1rem;
                        color: $blue;
                        text-decoration: underline;
                        word-break: break-all;
                    }

                    input {
                        border-radius: calc($border-radius / 3);
                        border: solid 1px $blue;
                    }

                    .tags-container {
                        display: inline;
                        float: left;
                        width: 90%;
                        margin: 0 1rem;
                        padding: 1rem;

                    .tag-icon {
                        display: inline;
                        float: left;
                        width: 90%;
                        margin: 0 1rem;
                        padding: 1rem;
                        color: $blue;
                    }
                    .tag {
                        display: inline-block;
                        padding: .8rem;
                        margin: .5rem;
                        border-radius: calc($border-radius / 2);
                        font-size: 1.6rem;
                        color: $white;
                        background-color: rgba($black, .8);
                        &:first-child {
                            margin: .5rem 0;
                        }
                    }
                }

                .qr-type {
                    position:absolute;
                    bottom: 1.5rem;
                    left: 2rem;
                    font-weight: 900;
                    font-size: 1.2rem;
                    color: rgba($black, .4);
                }

                button {
                    display: inline;
                    width: 4rem;
                    margin: 2rem 1rem;
                    padding: 1rem;
                    float: right;
                    color: $black;
                    &.trash {
                    background-color: $red;
                    color: $white;
                    }
                }

                .edit-qr-code {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    border-radius: $border-radius;
                    backdrop-filter: blur(1rem);
                    background: rgba($white, 0.5);

                    label {
                        font-weight: 900;
                        font-size: 1.6rem;
                        color: $black;
                        margin: 1rem 2rem;
                    }

                    .approve-edit {
                        display: flex;
                        justify-self: flex-end;
                        align-self: flex-end;
                        margin: 0 1rem;
                    }
                }
            }

        }
    }

    .inittxt {
        width: 100%;
    }
}